body {
    background-color:#111729;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#wrapper {
    display: flex;
    align-items: center;
    justify-content: left;
    padding: 2%;
  }

.home {
    white-space: nowrap; /* Prevents the text from wrapping */
    text-decoration: none; /* Removes underline from the link */
    color: #97D1FB;
    display: inline; /* Ensures the h3 doesn't force a new line */
    margin-right: 20px; /* Adjust as needed */
}
.tag {
    background-color: #5B8266;
    color: hsl(0, 0%, 100%);
    text-decoration: none;
    display: inline-block;
    text-align: center;
    justify-content: center;  
    align-items: center;  
    display:inline;
    margin:20px;
    border-radius: 10%;
    font-size: 16px;
    font-family: 'Lato', sans-serif;
    padding: 20px;
    box-shadow: #003835, ;
}

.tag:hover{
    background-color: #3E6259;
    color:white;
    justify-content: center;  
    align-items: center;  
    display:inline;
}

.content-area {
    margin-left: 10%; /* Indents the content towards the middle */
    text-align: left; /* Ensures content is left-aligned */
    color: white; /* Sets the text color to white, assuming you want to keep consistent with your site's theme */
}